<aside class="col-sm-4">
  <div class="col-right">
    <h2>&Agrave; propos</h2>
    <img src="{{asset "images/jchampemont.png"}}" class="img-circle center-block"><br />
    <p>Passioné par le web depuis 2000, j'ai créé ce blog pour partager sur la toile mes découvertes, des astuces, des informations qui simplifient au quotidien mon métier de développeur.</p>
    <p>Ingénieur informatique de formation, j'apprécie tout particulièrement les technologies du web et du monde Java EE, ainsi que tout ce qui tourne autour de l'auto-hébergement.</p>
    <p><a href="/rss/"><img src="{{asset "images/rss.png"}}" width="20px" height="20px" /> RSS</a></p>
    <p>Vous pouvez me suivre sur Twitter :</p>
    <a href="https://twitter.com/jchampemont" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-size="large">Suivre @jchampemont</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <h2>Derniers Tweets</h2>
    <a class="twitter-timeline" href="https://twitter.com/jchampemont" data-widget-id="465856086742814721">Tweets de @jchampemont</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</aside>
